ul.centered-ul{
    width: 50%;
    margin: auto;
    text-align: left;
}

ul.left-ul{
    width: 100%;
    margin: auto;
    text-align: left;
}

li{

    margin: 8px 0 8px 0;
}

h4 + ul > li
{
    font-size: 0.8em !important;
}

div.footnote{
    font-size: 0.5em;
}

:root {
  --background-color: #fff;
  --main-font: Lato, sans-serif;
  --main-font-size: 40px;
  --main-color: #000;
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: News Cycle, Impact, sans-serif;
  --heading-color: #000;
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: none;
  --heading-text-shadow: none;
  --heading-font-weight: normal;
  --heading1-text-shadow: none;
  --heading1-size: 3em;
  --heading2-size: 2em;
  --heading3-size: 1.55em;
  --heading4-size: 1em;
  --code-font: monospace;
  --link-color: #00008B;
  --link-color-dark: #00003f;
  --link-color-hover: #0000f1;
  --selection-background-color: rgba(0, 0, 0, 0.99);
  --selection-color: #fff;
}
